<h3>Edit your profile!</h3>

<%= simple_form_for (@user) do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email %>
	<%= f.input :affiliation %>
	<%= f.button :submit %>
<% end %>