  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for @user do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email %>
	<%= f.association :affiliations, as: :check_boxes, collection: Organization.order(:name) %>
	<%= f.input :password %>
	<%= f.input :password_confirmation%>

	<%= f.button :submit %>
<% end %>

<h3>* denotes required field</h3>