<h2><%= link_to 'Go back to users', users_path%></h2>

<h3><%=@user.full_name%></h3>

<div id="user_upload_box">
	<span class="upload_link"><%= link_to 'Upload something', new_user_upload_path(current_user)%></span>
	<span class="user_uploads"><%= link_to 'View Uploads', user_uploads_path(current_user)%></span>
</div>

<div class="userMemberships">
	<span><%= relevant_user? ? "You" : "They" %> belong to...</span>
	<ul class="memberList">
		<% @user.affiliations.each do |mem| %>
			<li class="memberListItem"> <%= mem.name %> </li>
		<% end %>
	</ul>
</div>

<h4>Click <%= link_to 'here', edit_user_path(@user)%> to edit</h4>
<h4>Click <%= link_to 'here', new_user_follower_path(@user), class:'link'%> to create a follower!</h4>

<div class="followerListDiv">
<div class="orgList">
	<div class="orgName org0">All Members</div>
	<% Organization.all.each do |org| %>
		<div class="orgName <%='org'+org.id.to_s%>"><%= org.name%></div>
	<% end %>
</div>
	<ul class="followerList">
		<%current_user.followers.each do |follower| %>
			<li class="followerLi followerShow <%= 'org'+follower.organization_id %>"> <%= link_to follower.full_name, user_follower_path(current_user.id,follower.id)%> (<%= follower.organization.name%>) </li>
		<%end%>
	</ul>
</div>


