<div id="welcome">
	<h1>Welcome to Follow Up!</h1> 
	<h2>This is an app for organizers to keep tab on their actions. It's very crude.</h2> 
</div>

<div id="welcomeNav">
	<%= link_to 'Users', users_path%>
	<br>

	<%= link_to 'Organizations', organizations_path %>
</div>

<div id="welcomeLogin">
	<% if logged_in? %>
		<h2> <%= link_to 'Log Out', logout_path, method: :delete %> </h2>
	<% else %>
		<h2>Click <%= link_to 'here', login_path, class:'link'%> to log in!</h2>
		<h2>Otherwise, click <%= link_to 'here', new_user_path, class:'link' %> to create an account!</h2> 
	<% end %>
</div>

