<% if @follower.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% @follower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= simple_form_for [current_user,@follower] do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email %>
	<%= f.input :phone %>
	<%= f.association :organization, as: :radio_buttons,collection: Organization.order(:name) %>
  <%= f.input :tag_ids, as: :check_boxes, collection: Tag.order(:name) %>
  <%= f.input :address, input_html: {id:"gmaps-input-address", placeholder:"Address goes here.."} %>
  <%= f.hidden_field :street_number, value:''%>
  <%= f.hidden_field :street_name, value:''%>
  <%= f.hidden_field :neighborhood, value:''%>
  <%= f.hidden_field :city , value:''%>
  <%= f.hidden_field :county , value:''%>
  <%= f.hidden_field :state , value:''%>
  <%= f.hidden_field :zip , value:''%>
  <%= f.hidden_field :latitude, value:''%>
  <%= f.hidden_field :longitude, value:''%>
	<%= f.hidden_field :organizer_id, value: current_user.id%>
	<%= f.button :submit %>
<% end %>

<%= render 'initJs' %>

