<h1>Name:<%= @follower.full_name %></h1>
<h2>Organization:<%= @follower.organization.name%></h2>

<div id="followerInfo">
	<h3><%= @follower.full_name %> was added <%= time_ago_in_words(@follower.created_at)%>. </h3>
	<span class="follower-address">Address:<%=@follower.address%> </span>
</div>


<div id="followerMap">
	<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?q=<%=@follower.ggl_address%>&key=<%=ENV['GGL_API_KEY']%>&zoom=14" allowfullscreen>
	</iframe>
</div>


<div id="follower-notes">
	<%@follower.notes.each do |note| %>
		<div class="follower-note"> <span class="note-text"> <%=note.text%> </span></div>
	<% end %>
</div>

<div id="new-note">
	<%= simple_form_for @note do |f| %>
		<%= f.input :info, placeholder:'Write your note...' %>
		<%= f.hidden_field :notable_type, value:'follower'%>
		<%= f.button :submit %>
	<% end %>
</div>

