<!DOCTYPE html>
<html>
  <head>
    <title>FollowUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <ul id='mainHeader'>
    	<li class="mainLi"><%= link_to 'Home', root_path%></li>
    	<li class="mainLi" ><%= link_to 'Learn More!', 'https://www.jacobinmag.com/2016/12/jane-mcalevey-unions-organizing-workers-socialism/', target: :_blank %> </li>
    </ul>
    <% if logged_in?%> 
      <span>Welcome <%= current_user.full_name%></span>
    <% end %>
      <%= yield %>
  </body>
</html>
